<section class="week-section animated fadeIn">

    <div ng-repeat="weekPanel in weekPanels" ng-click="go(weekPanel.path)" class="week-panel {{weekPanel.class}} {{weekPanel.comingSoon}}">
      <div>
        <a href="{{weekPanel.path}}">
          <div class="btn {{weekPanel.comingSoon}}">
          <h2>{{weekPanel.btnTxt1}}<br/>{{weekPanel.btnTxt2}}</h2>
          </div>
        </a>
        <h2>Week {{weekPanel.weeks}}</h2>
        <h4>{{weekPanel.trimester}}</h4>
      </div>
    </div>

</section>
