<div class="header-container tomato">
  <header>
    <h1>Week 14-17</h1>
    <h4>Second Trimester</h4>
  </header>
  <div class="header-intro">
    <h2>Euro Cycles Euro Baby!!</h2>
    <p><b>Laura is truly feeling herself</b>, appetite has returned completely and little by little <b>bump is getting bigger</b>. We had a visit from overseas that included lots of presents and surprises. We also had a brilliant day out at Ikea to see what they had to offer Marshmallow. We're starting to get even more excited as the <b><i>Big Scan</i> is in a few weeks!</b></p>
  </div>
</div>


<div class="main-content">

  <div class="image-100 caption week-info" data-week="week 14" data-caption="Teeny Tiny bump ❤️">
    <img lazy-load src="img/spinner.gif" data-original="/img/week14-17/bump.jpg" width="100%" height="auto" alt="still no bump">
  </div>

  <div class="divider-container">
    <hr style="margin-top: 120px!important; margin-bottom: 0px!important;" class="divider">
    <span class="divider-title"><h2>Week 14 & 15</h2></span>
  </div>

  <div class="text-section section-spacing">
    <h2>What is a purrmaid you say??!</h2>
    <span class="underline-center"></span>
    <p>This week Sandra and James, Laura’s sister and brother law, were over from the UK to visit . <b>We were treated to dinner</b> to celebrate the pregnancy. They also gave us a lovely present... a purrmaid! Believe it or not Laura already knew what a purrmaid was and she loved it.</p>

    <p>For us normal people it's a cute cat/mermaid savings tin. <b>We also started shopping around for the essentials such as cots and prams</b>. It was overwhelming but so enjoyable and it just adds to our excitement!</p>
  </div>

</div><!--close-main-content-->

<div class="overflow-container">
    <section class="flex flex-center wrap">
      <div class="col-33 cot-shopping-1"></div>
      <div class="col-33 cot-shopping-3"></div>
      <div class="col-33 cot-shopping-2"></div>
    </section>
</div>

<div class="main-content">

  <div class="divider-container">
    <hr style="margin-top: 0!important;" class="divider">
    <span class="divider-title"><h2>Week 16</h2></span>
  </div>


  <div class="text-section section-spacing">
    <h2>Time flies when you're... pregnant?</h2>
    <span class="underline"></span>
    <p>We’ve hit the 4-month mark, <b>only 5 months left</b>😳. Marshmallow is getting the slightest bit bigger as the weeks go by and <b>Laura’s tummy is getting bigger</b> too. She started to wear tight tops and even resorted to wearing my t-shirts so that her bump is more noticeable.</p>

    <p>We have spent the past few weekends sitting in but now Laura is getting cabin fever so we had dinner & spent the night at our friends new house for a change of scenery.</p>
  </div>


  <div class="divider-container">
    <hr style="margin-top: 0!important;" class="divider">
    <span class="divider-title"><h2>Week 17</h2></span>
  </div>

</div>

<div class="overflow-container tomato">
  <div class="main-content">
    <section class="flex flex-center wrap">
      <div class="col-50">
        <h2>Practice makes perfect!</h2>
        <p>We had Selina and her beautiful family <span style="font-size: smaller; color: #333;">(Sonny, Katie and Daisee)</span> over for a few hours. <b>Dasiee is now just 8 months old</b> and she's absolutely loving life, using everything in sight as a drum kit!</p>

        <p>Selina gave us some useful hospital tips for when Laura is ready to deliver, most important was probably for me to bring my laptop. As you can see from the photo <b>Laura is already a pro!</b></p>
      </div>
      <div class="col-50 flex img-flex-end">
        <img lazy-load class="image-right" src="img/spinner.gif" data-original="img/week14-17/laura-daisee.jpg" alt=""></div>
    </section>
  </div>
</div>

<div class="main-content">
  <div class="week-status">
    <h2>Marshmallow's Measurements</h2>
    <img lazy-load src="img/spinner.gif" data-original="img/week14-17/week17-status.png" alt="Week 17 development">
    <p>Marshmallow's skeleton is changing from soft cartilage to bone, and he/she is starting to develop sweat glands. The coolest part my far is the fact that Marshmallow is the size of a playstation controller!</p>
  </div>
</div>
