<div class="header-container orange">
  <header>
    <h1>Week 9-13</h1>
    <h4>First Trimester</h4>
  </header>
  <div class="header-intro">
    <h2>Daytime naps & Healthy Snacks!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem suscipit doloremque voluptas sit reiciendis minus, fugiat! Veniam, iusto reiciendis quo magnam, nesciunt tempore aliquam voluptatibus animi magni, eius incidunt? Voluptates!</p>
  </div>
</div>


<div class="main-content">

  <div class="image-100 caption week-info" data-week="week 9" data-caption="Still no bump!">
  <img src="/img/week9-13/bump.jpg" width="100%" height="auto" alt="still no bump">
  </div>

  <div class="text-section section-spacing">
    <h2>Heading 1</h2>
    <span class="underline-center"></span>
    <p>
      Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </p>
    <p>
      Viamusagit\\tis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Donec id \elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </p>
  </div>

</div><!--close-main-content-->

<div class="overflow-container orange">
  <div class="main-content">
    <section class="flex flex-center wrap">
      <div class="col-50">
        <h2>Heading 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odio enim earum libero, laborum at ab, doloremque aspernatur nihil maxime molestiae nobis quae facilis autem amet, atque tempore dolores iure.</p>
      </div>
      <div class="col-50 flex img-flex-end">
        <img class="circle-image-right" src="img/week9-13/holding-daisee.jpg" alt=""></div>
    </section>
  </div>
</div>

<div class="main-content">
  <div class="week-status">
    <img src="img/week9-13/week-9-status.png" alt="">
    <h1>Pecan Nut</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore iure ducimus quidem, laudantium officiis, laboriosam repellendus eveniet veniam excepturi, odio fugiat vel quasi fuga praesentium! Assumenda distinctio rem saepe quam.</p>
  </div>


  <div class="divider-container">
    <hr class="divider">
    <span class="divider-title"><h2>Week 10</h2></span>
  </div>

</div><!--close-main-content-->

<section class="flex flex-center wrap">
  <div class="full-left col-50"><span class="caption-two">Night out to celebrate...</span></div>
  <div class="full-right col-50"><span class="caption-two">Andy & Orla's Engagement!!</span></div>
</section>


<div class="main-content text-section section-spacing">
  <h2>Heading</h2>
  <span class="underline"></span>
  <p>Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.</p>

  <p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<p>

  <p>Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.</p>
</div>
