.week-section
  display: flex
  flex-wrap: wrap

.week-panel
  display: flex
  justify-content: center
  align-items: center
  width: 50%
  height: 400px

.sub-panel
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 500px

.one
  background: lightskyblue

.two
  background: orange

.three
  background: tomato

.four
  background: pink

.five
  background: peachpuff

.six
  background: mediumturquoise

.seven
  background: violet

.eight
  background: coral

.nine
  background: #90AEAE
