.header-container
  width: 100%
  padding: 4em 2em
  display: flex
  justify-content: center
  align-items: center

  @media screen and (max-width: 700px)
    flex-direction: column
    text-align: center

  header
    width: 50%
    text-align: center
    @media screen and (max-width: 700px)
      width: 90%

    h1, h4
      color: white
      font:
        family: 'Amatic SC', cursive
        size: 4rem

    h4
      font-size: 2rem

      @media screen and (max-width: 700px)
        font-size: 1.2rem

  .header-intro
    width: 50%
    @media screen and (max-width: 700px)
      margin-top: 1.5rem
      width: 96%

    h2
      color: white
      font:
        family: 'Amatic SC', cursive


.main-content
  width: 70%
  margin: 0 auto
  display: block

  @media screen and (max-width: 700px)
    width: 90%


.image-100
  margin: 0 auto
  margin-top: -1.5rem
  display: block
  position: relative
  z-index: 2

.caption

  &:before
    content: attr(data-caption)
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    bottom: 0rem
    left: 0rem
    padding: .6rem 1.2rem
    background: rgba(white, .75)
    z-index: 3
    color: $grey
    font:
      family: 'Amatic SC', cursive
      size: 1.6em

    @media screen and (max-width: 700px)
      padding: .4em .8em
      background: rgba(white, .85)
      font-size: 1.2rem

.week-info

  &:after
    content: attr(data-week)
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    bottom: -1em
    right: -1em
    width: 80px
    height: 80px
    border-radius: 50%
    background: lightskyblue
    z-index: 3
    color: white
    font:
      family: 'Amatic SC', cursive
      size: 1.3em

    @media screen and (max-width: 480px)
      width: 60px
      height: 60px
      font-size: 1.1em
      bottom: -.5em
      right: -.5em

.tri-circle-img
  margin: 3em 0
  display: block
  position: relative
  width: 100%

.text-section
  h2
    text-align: center
    color: $grey

  p
    color: lighten($grey, 35%)
    font:
      weight: 300

.week-7
  margin-bottom: 5rem

.post-image
  position: relative

.press-me
  position: absolute
  width: 8rem
  height: 8rem
  background: rgba($grey, .75)
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  top: calc(50% - 8rem / 2)
  left: calc(50% - 8rem / 2)
  opacity: .9
  pointer-events: none
  transition: all .3s ease-in-out

  h2
    color: white

  &.press-me-pressed
    opacity: 0

.image-right
  width: 80%
