<!DOCTYPE html>
<html lang="en" ng-app="marshmallowAndMammy">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marshmallow & Mammy</title>
  <link rel="stylesheet" href="main.css">
  <base href="/" />
</head>

<body ng-controller="mmController">

<nav ng-click="toggleNav()">
  <div class="hamburger">
    <span></span>
  </div>
</nav>

  <header class="logo-container">
    <h1><a href="/">Marshmallow & Mammy</a></h1>
    <h4>Follow along with our pregnancy and see Marshmallow develop</h4>
  </header>

  <div class="main-nav">
    <ul>
      <li class="nav-title">First Trimester</li>
      <li><a ng-click="toggleNav()" href="weeks5-8.html">Week 5-8</a></li>
      <!-- <li><a class="inactive" href="#">Week 9-13</a></li>
      <li class="nav-title">Second Trimester</li>
      <li><a class="inactive" href="#">Week 14-17</a></li>
      <li><a class="inactive" href="#">Week 18-21</a></li>
      <li><a class="inactive" href="#">Week 22-26</a></li>
      <li class="nav-title">Third Trimester</li>
      <li><a class="inactive" href="#">Week 27-30</a></li>
      <li><a class="inactive" href="#">Week 31-35</a></li>
      <li><a class="inactive" href="#">Week 36-40</a></li> -->
    </ul>
  </div>

  <div ng-view></div>

  <section>
    <div class="sub-panel nine">
      <h2>Find out when we post</h2>
      <h4>No spam at all (we promise). Just a single email each time we post a new entry.</h4>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <div class="sub-container">
          <form action="//marshmallowandmammy.us12.list-manage.com/subscribe/post?u=b978db77d7aa98fc4de8a0f3e&amp;id=5dc4485057" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group flex flex-center">
              	<input type="email" value="" name="EMAIL" class="required email" placeholder="Enter your email address" id="mce-EMAIL">
                <button type="submit" id="mc-embedded-subscribe" name="subscribe" class="send-button">Send</button>
              </div>

            	<div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b978db77d7aa98fc4de8a0f3e_5dc4485057" tabindex="-1" value=""></div>
              </div>
          </form>
        </div>
      </div><!--End mc_embed_signup-->

      <img src="/img/marshmallow-icon.png" alt="marshmallow">

    </div>
  </section>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<script src="main.js"></script>
</html>
